<?xml version="1.0"?>
<!--
/**
 * @category   Digitalriver
 * @package    Digitalriver_DrPay
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <drpay_dropin>
                <active>1</active>
                <sort_order>1</sort_order>
                <model>Digitalriver\DrPay\Model\DropIn</model>
                <order_status>pending_payment</order_status>
                <title>
                    <![CDATA[ DigitalRiver Payments ]]>
                </title>
            </drpay_dropin>
        </payment>
        <dr_settings>
            <catalog_sync>
                <error_email_template>dr_settings_catalog_sync_error_email_template</error_email_template>
                <error_email_identity>general</error_email_identity>
                <batch_limit>250</batch_limit>
            </catalog_sync>
        </dr_settings>
        <crontab>
            <default>
                <jobs>
                    <catalog_sync>
                        <schedule>
                            <cron_expr>0 0 * * *</cron_expr>
                        </schedule>
                    </catalog_sync>
                </jobs>
            </default>
        </crontab>
    </default>
</config>
